@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.form-container {
  border: 2px solid black;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 5%;
  margin: 0 auto;
  margin-top: 2.5%;
  max-width: 80%; /* Adjust the maximum width as needed */
  text-align: center; /* Center the contents */
  //center the contents inside the form
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-input {
  margin: 0, 0, 30%, 30%;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid black;
  min-width: auto;
  max-width: 70%;
  border-radius: 2px;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}

.form {
  //center the contents inside the form//
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toppings-selection-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: left;
}
